.main {
    margin-left: 300px;
    padding: 32px;
    min-height: 100vh;

    .main-content {
        padding-top: 32px;
        .table {
            thead {
                .down {
                    font-size: 20px;
                }
            }
            th, td {
                padding: 16px 0;
            }
        }
    }

    .main-pagination {
        .page-link {
            &:hover {
                background-color: #198754;
                color: #fff !important;
            }
        }
    }
} 
